/*Estilos Globales.*/
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;

}

/* input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li button {
  padding: 5px 10px;
  background: #dc3545;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

li button:hover {
  background: #c82333;
}

/*Estilos de Lista de Clientes*/
.customer-list {
  margin-bottom: 20px;
}

.customer-list h2 {
  margin-bottom: 10px;
}

.customer-list table {
  width: 100%;
  border-collapse: collapse;
}

.customer-list th,
.customer-list td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.customer-list th {
  background-color: #007bff;
  color: #fff;
}

.customer-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-list tr:hover {
  background-color: #ddd;
}

.customer-list button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.customer-list button:hover {
  background-color: #0056b3;
}

.button-group button {
  margin-right: 10px;
}

.button-group button:last-child {
  margin-right: 0;
}

/*Estilo de Formulario de Clientes.*/
.customer-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  

}

.customer-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.customer-form .form-group {
  margin-bottom: 20px;
  width: 100%;
}

.customer-form .form-group label {
  margin-bottom: 5px;
}

.customer-form  .form-group  input,
.customer-form  .form-group  select,
.customer-form  .form-group  textarea {
  width:96%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customer-form button {
  display: block;
  width: 100% ;
}


.customer-form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.customer-form button:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  max-width: 500px;
  width: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}